extends layout

block content
	
	//- BEGIN JUMBOTRON
	section.jumbotron.demo-custom-height-1.full-width(data-pages-bg-image='/front/assets/images/hero_2.jpeg', data-pages='parallax', data-bg-overlay='black', data-overlay-opacity='0.4')
		.inner.full-height
			.container-xs-height.full-height
				.col-xs-height.col-middle.text-left
					.container
						.col-sm-8.col-sm-offset-2.sm-m-t-30.sm-p-t-20.sm-p-b-20
							h1.light.text-center.text-white.xs-p-t-30.sm-p-b-30
								| Team player and self-driven.
							h2.light.text-center.text-white.xs-p-t-30.sm-p-b-30
								| Willing to learn.
	//- END JUMBOTRON



	//- BEGIN CONTENT SECTION
	section.bg-master-lightest.p-b-60.p-t-60
		.container
			.md-p-l-20.md-p-r-20.xs-no-padding
				h5.block-title.hint-text.no-margin Explore
				.row
					.col-sm-5.col-md-4.col-xs-12
						h1.m-t-5
							| Trusted 
							br
							| all around the World.
							br
					.col-sm-7.col-md-8.col-xs-12.no-padding.xs-p-l-15.xs-p-r-15
						img(src='/front/assets/images/logo_set.png', alt='').full-width
	//- START CONTACT SECTION
	section.container.container-fixed-lg.p-t-60.p-b-60.sm-p-b-30.sm-m-b-30
		.row
			.col-md-6
				.p-l-40.sm-p-l-0.sm-p-t-10
					.row
						.col-xs-6
							h5.block-title.hint-text.m-b-0 China 
							address.m-t-10
								| Stanford co.
								br
								|  54 E Pear St
								br
								|  Oklahoma city OK 73102
							br
							p.hint-text.no-margin
								span.fs-12.font-montserrat.bold.all-caps.p-r-10 Tel
								span.fs-14 (877) 412-7766
							p.hint-text
								span.fs-12.font-montserrat.bold.all-caps.p-r-10 Fax
								span.fs-14 (877) 412-7766
						.col-xs-6
							h5.block-title.hint-text.m-b-0 America 
							address.m-t-10
								| Station 322
								br
								|  Ottawa Ontario K1AOB1
								br
								|  Canada.
							br
							p.hint-text.no-margin
								span.fs-12.font-montserrat.bold.all-caps.p-r-10 Tel
								span.fs-14 (877) 412-7766
							p.hint-text
								span.fs-12.font-montserrat.bold.all-caps.p-r-10 Fax
								span.fs-14 (877) 412-7766
					br
					h5.block-title.hint-text.m-b-0 pages Public Inquiries & Communications 
					br
					.row
						.col-xs-6
							p.fs-12.font-montserrat.bold.all-caps.no-margin.hint-text Hotline 
							p.hint-text.no-margin.fs-14 (877) 412-7766
						.col-xs-6
							p.fs-12.font-montserrat.bold.all-caps.no-margin.hint-text Email 
							p.hint-text.no-margin.fs-14 yisong_cai@qq.com
			.col-md-6
				.visible-xs.visible-sm.b-b.b-grey-light.m-t-35.m-b-30
				.p-r-40.sm-p-r-0
					#contact-panel.panel
						p.semi-bold.no-margin Fill up this form to contact us if you have any futher questions
						form#contact-form.m-t-15(role='form', autocomplete='off', method='post')
							.row
								.col-sm-6
									.form-group.form-group-default.required
										label.control-label First name
										input.form-control(type='text', name='fname', required='required')
								.col-sm-6
									.form-group.form-group-default
										label.control-label Last name
										input.form-control(type='text', name='lname', required='required')
							.form-group.form-group-default
								label.control-label Email
								input.form-control(type='email', name='mail', placeholder='example@mail.com', required='required')
							.form-group.form-group-default
								label.control-label Message
								textarea.form-control(name='message', placeholder='Type the message you wish to send(within 100 words).', style='height:100px', required='required')
							.sm-p-t-10.clearfix
								p.pull-left.small.hint-text.m-t-5.font-arial I hereby certify that the information above is true and accurate. 
								button.btn.btn-primary.font-montserrat.all-caps.fs-12.pull-right.xs-pull-left Submit
							.clearfix
	//- END CONTACT SECION

	block scripts
