doctype html
html.js
	head
		meta(http-equiv='content-type', content='text/html;charset=UTF-8')
		meta(charset='utf-8')
		title #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='apple-touch-icon', href='/front/pages/ico/60.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/front/pages/ico/76.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/front/pages/ico/120.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/front/pages/ico/152.png')
		link(rel='icon', type='image/x-icon', href='/favicon.ico')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-touch-fullscreen', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='default')
		meta(name='description', content='')
		meta(name='author', content='')
		//- BEGIN PLUGINS
		link(rel="stylesheet", href="/front/assets/css/vendor.css")
		//- END PLUGINS
		//- BEGIN PAGES CSS
		link(href='/front/assets/plugins/swiper/css/swiper.css', rel='stylesheet', type='text/css', media='screen')
		link(rel="stylesheet", href="/front/pages/css/pages.css")
		link(rel="stylesheet", href="/front/pages/css/pages-icons.css")
		link(rel="stylesheet", href="/front/assets/css/style.css")
		block stylesheet
		//- END PAGES CSS
	body.pace-dark
		//- #barba-wrapper.full-height
			//- .barba-container.full-height
		//- BEGIN HEADER
		nav.header.bg-header.transparent-light(data-pages='header', data-pages-header='autoresize', data-pages-resize-class='dark')
			.container.relative
				//- BEGIN LEFT CONTENT
				.pull-left.z-index-10
					//- BEGIN HEADER TOGGLE FOR MOBILE
					.visible-sm-inline.visible-xs-inline.menu-toggler.pull-right(data-pages='header-toggle', data-pages-element='#header')
						.one
						.two
						.three
				//- //- BEGIN CENTER CONTENT
				//- .pull-center
				//- 	.pull-center-inner
				//- 		.header-inner
				//- 			//- BEGIN LOGO
				//- 			img.alt(src='/front/assets/images/logo_black.png', width='152', height='21', data-src-retina='/front/assets/images/logo_black_2x.png', alt='')
				//- 			img.logo(src='/front/assets/images/logo_white.png', width='152', height='21', data-src-retina='/front/assets/images/logo_white_2x.png', alt='')
				//- .pull-right.relative.z-index-10.visible-sm-inline.visible-xs-inline
				//- 	.header-inner
				//- 		a.search-toggle(href='#', data-toggle='search')
				//- 			i.fs-14.pg-search
				//- //- END CENTER CONTENT
				//- BEGIN MENU
				#header.menu-content.clearfix(data-pages='menu-content', data-pages-direction='slideLeft')
					//- BEGIN HEADER CLOSE TOGGLE FOR MOBILE
					.pull-left
						a.text-black.link.padding-10.visible-xs-inline.visible-sm-inline.pull-right.m-t-10.m-b-10.m-r-10(href='#', data-pages='header-toggle', data-pages-element='#header')
							i.pg-close_line
					.pull-left.sm-full-width
						.header-inner
							//- BEGIN MENU ITEMS
							ul.menu
								li
									a(class={active: curl === '/'} href='/', data-text='Home') Home
								li
									a(class={active: curl === '/portfolio'} href='/portfolio', data-text='Portfolio') Portfolio
								li
									a(class={active: curl === '/contact'} href='/contact', data-text='Contact Me') Contact Me
							//- END MENU ITEMS
					.pull-right.sm-full-width
						.header-inner
							//- a.search-toggle.hidden-sm.hidden-xs.relative.z-index-1(href='#', data-toggle='search')
							//- 	i.fs-14.pg-search
							//- BEGIN COPYRIGHT FOR MOBILE
							.font-arial.m-l-35.m-r-35.m-b-20.m-t-20.visible-sm.visible-xs
								p.fs-11.small-text.muted Copyright © 2018 DVA89
							//- END COPYRIGHT FOR MOBILE
				//- END MENU
		//- END HEADER
		block content
		if (curl === "/")
		else
			//- START FOOTER
			section.p-b-30.p-t-40.bg-master-dark
				.container
					.row
						.col-sm-6
							ul.no-style.fs-12.no-padding.xs-m-t-20
								li.inline.no-padding
									a.text-white.fs-16.xs-no-padding(href='https://www.facebook.com/dantevonarmia', target='_blank')
										i.fa.fa-facebook
								li.inline.no-padding
									a.text-white.p-l-30.fs-16(href='https://twitter.com/DanteVonArmia', target='_blank')
										i.fa.fa-twitter
								li.inline.no-padding
									a.text-white.p-l-30.fs-16(href='https://github.com/Dante-Vonarmia', target='_blank')
										i.fa.fa-github
								li.inline.no-padding
									a.text-white.p-l-30.fs-16(href='https://www.linkedin.com/in/fan-feng-78545b15b', target='_blank')
										i.fa.fa-linkedin
							.m-t-10
								ul.no-style.fs-11.no-padding.font-arial
									li.inline.no-padding
										a.link.text-white.p-r-10.b-r.b-transparent-white(href='/') Home
									li.inline.no-padding
										a.link.text-white.p-l-10.p-r-10.b-r.b-transparent-white(href='/portfolio') Portfolio
									li.inline.no-padding
										a.link.text-white.p-l-10.p-r-10.xs-no-padding.xs-m-t-10(href='/contact') Contact Me
						.col-sm-6.text-right.font-arial.sm-text-left
							p.fs-11.small-text.no-margin.text-white
								span.hint-text Made by
								|  Dante Von Alcatraz@2019
							p.fs-11.muted.text-white.m-t-5 Copyright © 2019 DVA89. All Rights Reserved.
			//- END FOOTER
			//- START OVERLAY SEARCH
			//- .overlay.hide(data-pages='search')
			//- 	//- BEGIN Overlay Content !
			//- 	.overlay-content.full-height.has-results
			//- 		//- END Overlay Header !
			//- 		.container.relative.full-height
			//- 			//- BEGIN Overlay Header !
			//- 			.container-fluid
			//- 				//- BEGIN Overlay Close !
			//- 				a.close-icon-light.overlay-close.text-black.fs-16.top-right(href='#')
			//- 					i.pg-close_line
			//- 				//- END Overlay Close !
			//- 			.container-fluid
			//- 				.inline-block.bottom-right.m-b-30
			//- 					.checkbox.right
			//- 						input#checkboxn(type='checkbox', value='1', checked='checked')
			//- 						label(for='checkboxn') Search within page
			//- 			.container-xs-height.full-height
			//- 				.col-xs-height.col-middle.text-center
			//- 					//- BEGIN Overlay Controls !
			//- 					input#overlay-search.no-border.overlay-search.bg-transparent.col-sm-6.col-sm-offset-4(placeholder='Search...', autocomplete='off', spellcheck='false')
			//- 					br
			//- 					.inline-block.bottom-left.m-l-10.m-b-30.hidden-xs
			//- 						p.fs-14
			//- 							i.fa.fa-search.m-r-10
			//- 							|  Press enter to search
			//- 					//- END Overlay Controls !
			//- 	//- END Overlay Content !
			//- END OVERLAY SEARCH

		//- BEGIN CORE FRAMEWORK
		script(type='text/javascript', src='/front/assets/plugins/pace/pace.min.js')
		script(type='text/javascript', src='/front/pages/js/pages.image.loader.js')
		script(type='text/javascript', src='/front/assets/plugins/jquery/jquery-1.11.1.min.js')
		script(type='text/javascript', src='/front/assets/plugins/bootstrap/js/bootstrap.min.js')
		script(type='text/javascript', src='/front/assets/plugins/classie.js')
		//- Waits for the images to be loaded before applying the Isotope plugin
		script(type='text/javascript', src='/front/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js')
		//- Isotope plugin arranges the card layout
		script(type='text/javascript', src='/front/assets/plugins/jquery-isotope/isotope.pkgd.min.js')
		//- BEGIN RETINA IMAGE LOADER
		script(type='text/javascript', src='/front/assets/plugins/jquery-unveil/jquery.unveil.min.js')
		//- BEGIN SWIPER DEPENDENCIES
		script(type='text/javascript', src='/front/assets/plugins/velocity/velocity.min.js')
		script(type='text/javascript', src='/front/assets/plugins/velocity/velocity.ui.js')
		script(type='text/javascript', src='/front/assets/plugins/swiper/js/swiper.jquery.min.js')
		script(type='text/javascript', src='/front/assets/js/custom.js')
		//- BEGIN YOUR CUSTOM JS
		block scripts
		script(type='text/javascript', src='/front/assets/js/gallery.js')
		//- BEGIN PAGES FRONTEND LIB
		script(type='text/javascript', src='/front/pages/js/pages.frontend.min.js')
		//- END PAGES LIB


