extends layout

block content
	section.jumbotron.full-height(data-pages='parallax')
		.inner.full-height
			//- BEGIN SLIDER
			#hero.swiper-container
				.swiper-wrapper
					//- BEGIN SLIDE
					.swiper-slide.fit.bg-info
						//- BEGIN IMAGE PARRALAX
						.slider-wrapper
							.background-wrapper(data-swiper-parallax='20%')
								//- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes
								.background(data-pages-bg-image='/front/assets/images/hero_5.jpg', draggable='false')
						//- END IMAGE PARRALAX
						//- BEGIN CONTENT
						.content-layer
							.inner.full-height
								.container-xs-height.full-height
									.col-xs-height.col-middle.text-left
										.container.text-center
											h2.light.text-white(data-pages-animation='standard', data-delay='1100', data-type='transition.slideDownIn')
												| Career
												br
												span.fs-16.font-montserrat.text-uppercase as
												br
												span.font-montserrat(data-pages-init='text-rotate', data-speed='2000', data-animation='fade') Software Engineer, DevOps Engineer, Data Analyst

						//- END CONTENT
					//- END SLIDE
				
				//- BEGIN ANIMATED MOUSE
				.mouse-wrapper
					.mouse
						.mouse-scroll
		//- END HERO WITH PARALLAX

	article.content
		//- BEGIN CONTENT SECTION
		section.bg-master-lightest.p-b-85.p-t-75
			.container
				.md-p-l-20.md-p-r-20.xs-no-padding
					h5.block-title.hint-text.no-margin Explore
					.row
						.col-sm-5.col-md-4
							h1.m-t-5 About me.
						.col-sm-7.col-md-8.no-padding.xs-p-l-15.xs-p-r-15
							.p-t-20.p-l-35.md-p-l-5.md-p-t-15
								p
									| Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.
								p.hint-text.font-arial.small-text.col-md-7.no-padding
									| A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.
		//- END CONTENT SECTION
		//- BEGIN CONTENT SECTION
		section.p-b-85.p-t-75.p-b-65.p-t-55
			.container
				.md-p-l-20.xs-no-padding.clearfix
					.col-sm-4.no-padding
						.p-r-40.md-pr-30
							img.m-b-20(alt='', src='/front/assets/images/Parachute.svg')
							h6.block-title.p-b-5
								| Launch Design 
							p.m-b-30
								| Awesome notepad app. It gives you a quick and simple notepad editing experience when you write notes.
							p.muted.font-arial.small-text.col-sm-9.no-padding Icon Fonts, Vector SVG's, pages 14x14px vector icons.
						.visible-xs.b-b.b-grey-light.m-t-30.m-b-30
					.col-sm-4.no-padding
						.p-r-40.md-pr-30
							img.m-b-20(alt='', src='/front/assets/images/Prizemedalion.svg')
							h6.block-title.p-b-5
								| Award Wining 
							p.m-b-30
								| Quick chat helps you to Keep in touch with your friends and colleagues while working. It has a unique responsive design.
							p.muted.font-arial.small-text.col-sm-9.no-padding Limitless possibilities, Highly customizable, Great UI & UX
						.visible-xs.b-b.b-grey-light.m-t-30.m-b-30
					.col-sm-4.no-padding
						.p-r-40.md-pr-30
							img.m-b-20(alt='', src='/front/assets/images/Umbrella.svg')
							h6.block-title.p-b-5
								| Shop ready 
							p.m-b-30
								| This is a very young collection of charts, with the goal of keeping these components very customizable.
							p.muted.font-arial.small-text.col-sm-9.no-padding Highly customizable NVD3, rickshaw, Spark Lines, D3.
		//- END CONTENT SECTION


block scripts
	script(type='text/javascript', src='/front/assets/plugins/text-rotate/jquery.simple-text-rotator.min.js')

